#main{
    font-family: sans-serif;
    text-align: center;
  }
  .title-box{
    border: 8px solid black;
    margin-bottom: 1rem;
    background-color: #f9f1f0;
  }
  #image{
    max-width: 100%;
    display: block;
    position: center;
    height: auto;
  }
  body{
    background-color:#f8d8d1;
  }